.button {
  font-size: 1.2rem;
  border-radius: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  background-color: $primary-white;
  color: $primary-dark-1;
  border: 1px solid $primary-text-2;
  padding: 1rem 2rem;
  @include flex;
  cursor: pointer;
  transition: all 0.2s;

  &:active {
    transform: translateY(0.1rem);
  }

  &--blue {
    @extend .button;
    border: none;
    background-color: $primary-blue;
    color: $primary-white;

    &:hover {
      background: lighten($primary-blue, 10%);
    }
  }

  &--text {
    @extend .button;
    border: none;
    color: $primary-text-2;

    &:hover,
    :visited {
      background: $text-primary;
      color: $primary-text-1;
    }
  }
}
