.button {
  font-size: 1.2rem;
  border-radius: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  background-color: $primary-white;
  color: $base-text-color;
  border: 1px solid $button-border;
  padding: 0.8rem 2rem;
  @include flex;
  cursor: pointer;
  transition: all 0.2s;

  &:active {
    transform: translateY(0.1rem);
  }

  &--blue {
    @extend .button;
    border: none;
    background-color: $primary-blue;
    color: $primary-white;

    &:hover {
      background: lighten($primary-blue, 10%);
    }
  }

  &--text {
    @extend .button;
    border: none;
    color: $text-light;

    &:hover,
    :visited {
      background: $button-text-bg-hover;
      color: $text-light-grey;
    }
  }
}
