.connect-wallet-container {
  @include flex(column);
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 65vh;
}

.metamask-logo-container {
  width: 20rem;
  height: 20rem;
}

.metamask-logo {
  width: 20rem;
  height: 20rem;
}
