.connect-wallet {
  @include flex(column, center, center);
  height: calc(93vh);

  &__info-box {
    @include flex(column, center, center);
  }

  &__metamask-box {
    width: 20rem;
    height: 20rem;
  }

  &__metamask-logo {
    width: 20rem;
    height: 20rem;
  }
}
