.create-nft {
  @include flex(row, space-around, center);
  width: 100%;
  min-height: calc(93vh);
  padding: 4rem 0;

  &__left-side {
    width: 70%;
    padding: 1.5rem;
  }

  &__right-side {
    @include flex;
    font-family: 'DM Sans', system-ui, sans-serif;
    color: #263238;
    width: 30%;
  }

  &__upload-card {
    width: 90%;
    border-radius: 0.5rem;
  }

  &__file-upload {
    position: relative;
    @include flex(column);
    padding: 4rem 1.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.25s ease-out;
    background-color: $primary-text-1;

    &:hover {
      background-color: #dbedff;
    }
  }

  &__file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    outline: none;
    cursor: pointer;
  }

  &__label {
    font-weight: 900;
    font-size: 1rem;
  }
}
