.upload-and-preview {
  @include flexCenter;
  width: 100%;
}

.upload-file-container {
  width: 70%;
}

.upload-file-box {
  @include flexCenter;
  border: 2px dashed rgba(4, 4, 5, 0.1);
  height: 5rem;
  width: 100%;
  border-radius: 16px;
}

.preview-container {
  width: 30%;
}

.preview-box {
  border-radius: 16px;
  border: 1px solid rgba(4, 4, 5, 0.1);
  width: 5rem;
  height: 5rem;
}

.preview-image {
  border-radius: 16px;
  width: 5rem;
  height: 5rem;
}
