.holdings {
  @include flex(column);
  // flex-wrap: wrap;
  min-height: 100vh;
  margin-top: 8rem;

  &__container {
    @include flex(column);
    flex-wrap: wrap;
  }

  &__card-list {
    @include flex;
    flex-wrap: wrap;
    font-family: 'DM Sans', system-ui, sans-serif;
    color: #263238;
  }

  &__single-card {
    @include flex(column);
  }
}

.empty-holdings {
  @include flex(column);
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}
