.holdings {
  @include flex(column);
  flex-wrap: wrap;
  margin-top: 1rem;

  &__container {
    @include flex(column);
    flex-wrap: wrap;
  }

  &__card-list {
    @include flex;
    flex-wrap: wrap;
    font-family: 'DM Sans', system-ui, sans-serif;
    color: #263238;
    width: 30%;
  }

  &__single-card {
    @include flex(column);
  }
}
