.holdings {
  @include flex(column);
  // flex-wrap: wrap;
  margin-top: 1rem;
  width: 100%;
  &__container {
    @include flex(column);
    flex-wrap: wrap;
  }

  &__card-list {
    @include flex;
    flex-wrap: wrap;
    font-family: 'DM Sans', system-ui, sans-serif;
    color: #263238;
  }

  &__single-card {
    @include flex(column);
  }
}

.empty-holdings {
  @include flex(column);
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 65vh;
}
