.marketplace {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marketplace-title {
  margin-bottom: 2rem;

  h1 {
    color: $text-primary;
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (min-width: $desktop-breakpoint) {
    justify-content: space-evenly;
  }
}
