.marketplace {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'DM Sans', system-ui, sans-serif;
  color: #263238;
  height: 81vh;
}

.marketplace__content {
  @include flexCenterCol;
}

.marketplace__title {
  font-size: 3rem;
  font-weight: 300;
  margin-top: 2rem;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 6rem 0;

  @media (min-width: $desktop-breakpoint) {
    justify-content: space-evenly;
  }
}
