.card {
  width: 22rem;
  max-width: 90%;
  border: solid 4px #fff;
  border-radius: 2rem;
  padding: 0.75rem;
  text-decoration: none;
  margin: 0 1rem 4rem 1rem;
  color: inherit;
  background: #eceff1;
  box-shadow: 0 16px 32px #cfd8dc;
  transition: all 400ms ease;
  &:hover {
    background: #fff;
  }
  &__body {
    background: #fff;
    border-radius: 1.25rem;
    padding: 0.75rem;
  }
  &__top {
    @include flex(row, flex-start, stretch);
    font-weight: 500;
  }
  &__owner,
  &__creator {
    width: 50%;
    @include flex(row, flex-start, stretch);
  }
  &__owner {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -1px;
      width: 2px;
      height: 100%;
      border-radius: 2px;
      background: #eceff1;
    }
  }
  &__creator {
    flex-direction: row-reverse;
    text-align: right;
  }
  &__avatar {
    width: 3rem;
    height: 3rem;
    background: #eceff1;
    border-radius: 100%;
    flex-shrink: 0;
  }
  &__user {
    padding: 0 0.5rem;
    @include flex(column);
    &__title {
      font-size: 0.75rem;
      color: #b0bec5;
    }
  }
  &__image {
    padding-top: 75%;
    position: relative;
    overflow: hidden;
    margin-top: 0.75rem;
    border-radius: 1rem;
    background: #eceff1;
    box-shadow: 0 16px 32px #eceff1;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__info {
    margin: 0.75rem;
    @include flex(row, space-between);
    p {
      margin: 0;
    }
  }
  &__footer {
    background: #fff;
    padding: 0.75rem;
    border-radius: 0.75rem 0.75rem 1.75rem 1.75rem;
    @include flex(row, space-between);
  }
  &__btn {
    width: 48%;
    padding: 1rem;
    text-align: center;
    font-weight: 500;
    transition: all 200ms ease;
    &--primary {
      background: #263238;
      color: #eceff1;
      border-radius: 0.5rem 0.5rem 1.25rem 0.5rem;
      &:hover {
        background: #304ffe;
      }
    }
    &--secondary {
      border-radius: 0.5rem 0.5rem 0.5rem 1.25rem;
      &:hover {
        background: #eceff1;
        color: #304ffe;
      }
    }
  }
}
