.info-page {
  @include flex;
  // height: 100%;
  width: 100vw;
  height: 65vh;

  &__image-container {
    // height: 100%;
    width: 40%;
    border-radius: 16px;
    // new
    // padding-top: 75%;
    // position: relative;
    // overflow: hidden;
    // margin-top: 0.75rem;
    border-radius: 1rem;
    // background: #eceff1;
    box-shadow: 0 16px 32px #eceff1;

    img {
      // max-width: 100%;
      // max-height: 100%;
      border-radius: 16px;
      // new
      // position: absolute;
      // top: 0;
      // left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__info-container {
    height: 100%;
    width: 60%;
    @include flex(column);
  }

  &__price-limit {
    @include flex(row, flex-start, stretch);
  }

  &__info-navigator {
    @include flex(row, space-evenly, center);
    border-radius: 16px;
    border: 2px solid $primary-text-1;
    width: 50%;
    padding: 0.3rem;
  }
}

.artist-and-owner {
  &__card {
    border-bottom: thin solid $primary-text-1;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__avatar {
    border-radius: 100%;
    background: #eceff1;
    width: 3.5rem;
    height: 3.5rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
  }

  &__code {
  }
}
