.info-page {
  @include flex;
  min-height: calc(100vh + 6.6rem);
  padding: 0 2rem;

  &__image-container {
    border-radius: 16px;
    border-radius: 1rem;
    box-shadow: 0 16px 32px #eceff1;
    margin: 2rem 0;

    img {
      border-radius: 16px;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__info-container {
    height: 100%;
    flex: 1;
    @include flex(column);
    margin-left: 4rem;
  }

  &__price-limit {
    @include flex(row, flex-start, stretch);
  }

  &__info-navigator {
    @include flex(row, space-evenly, center);
    border-radius: 1.6rem;
    padding: 0.3rem;
    margin: 1rem 0;
  }

  &__button:not(:last-child) {
    margin-right: 1rem;
  }
}

.artist-and-owner {
  @include flex;
  &__card {
    border-bottom: thin solid $base-border;
    @include flex;
    margin: 1rem;
    padding-bottom: 1rem;
    height: 5rem;
  }

  &__avatar {
    border-radius: 100%;
    // background: #eceff1;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.5rem;
  }

  &__info {
    @include flex(column, center, center);
  }

  &__title {
  }

  &__code {
  }
}

.buy-container {
  margin-top: 1rem;
  @include flex;
}
