.pagination {
  max-width: 20rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pagination-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.page-link {
  padding: 0.4rem 0.8rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2px;
}

.pagination-arrow {
  font-size: 1.4rem;
  cursor: pointer;
}

.active {
  background-color: $primary;
  color: white;
}
