.pagination {
  width: 100%;
  @include flex(row, center, stretch);
  height: 4rem;
  margin: 1rem 0 3rem 0;

  &__list {
    @include flex(row, space-evenly);
    list-style: none;
  }

  &__link {
    padding: 0.4rem 1.2rem;
    margin: 0 0.2rem;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    font-size: 1.4rem;
    color: $base-text-color;

    &:hover {
      background-color: #ececec;
    }
  }

  &__link--active {
    background-color: #e5e5e5;

    &:hover {
      background-color: #dedede;
    }
  }

  &__arrow {
    font-size: 2rem;
    cursor: pointer;
    margin: 0 1rem;
    color: $text-light;
  }
}
