.footer-marketplace {
  width: 100%;

  &__content {
    padding: 0 1.5rem;
  }

  &__row {
    @include flex(row, space-between);
    padding: 1.6rem 8rem;
    border-top: 1px solid $base-border;
  }

  &__title {
    font-size: 2rem;
    font-weight: 300;
  }

  &__copyright-text {
    font-size: 1.3rem;
    color: $text-light;
  }

  &__copyright-link,
  &:link,
  &:visited {
    text-decoration: none;
    color: $primary-blue;
    padding: 0 0.2rem;
    transition: all 0.2s ease;
  }

  &__copyright-link:hover {
    color: lighten($primary-blue, 15%);
  }

  &__nav-list {
    @include flex;
    list-style: none;
  }

  &__nav-item {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__nav-link,
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s;
  }

  &__nav-link:hover {
    color: $base-text-color;
  }
}
