.nav {
  @include flex(row, space-between);
  padding: 1rem 2rem;
  border-bottom: 1px solid $base-border;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: $primary-white;

  &__logo-box {
    width: 5rem;
    margin-right: 2rem;
  }

  &__logo-img {
    width: 100%;
  }

  &__left-box {
    flex: 1;
  }

  &__right-box {
    @include flex;

    &-items {
      @include flex;
      list-style: none;
      margin: 0 2rem;
    }

    &-item {
      margin: 0 2rem;
    }

    &-link {
      text-decoration: none;
      color: $text-light;
      font-size: 1.4rem;
      font-weight: 700;
      transition: 0.2s all ease;

      &:hover,
      &:active {
        color: $base-text-color;
      }
    }
  }

  &__right-buttons {
    @include flex;

    &-link {
      text-decoration: none;
      margin-right: 2rem;
    }
  }
}

// ************************

.nav-marketplace {
  @include flex(row, space-between);
  width: 100%;
  height: 7vh;
  border-bottom: 2px solid $text-light-grey;

  &__left-side {
    width: 40%;
    @include flex(row, space-evenly);
  }

  &__right-side {
    @include flex(row, space-evenly);
    width: 40%;
  }

  &__logo-container {
    max-width: 15rem;
    @include flex;
    border-right: 2px solid $base-border;
    padding-right: 1rem;
  }

  &__logo-link {
    height: 100%;
    @include flex;
    text-decoration: none;
  }

  &__logo-img {
    width: 30%;
    height: 3.3rem;
  }

  &__discover-how {
    width: 60%;
    @include flex;
  }

  &__link {
    text-decoration: none;
    padding: 1rem;
  }
}
