.socials-marketplace {
  background-color: $primary-white;
  padding: 0 2rem;

  &__content {
    @include flex(row, flex-end);
    margin: 0 auto;
  }

  &__link,
  &:link,
  &:visited {
    @include flex;
    font-size: 2rem;
    background: $primary-blue;

    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    transition: all 0.3s;
    cursor: pointer;
    margin: 1rem 0 1rem 1rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__icon {
    font-size: 1.8rem;
    color: $primary-white;
  }

  &__link:hover {
    background: $primary-dark-1;
  }

  &__link:hover &__icon {
    color: $primary-white;
  }
}
