.socials-marketplace {
  background-color: $primary-white;

  &__content {
    @include flex(row, flex-end);
    margin: 0 auto;
  }

  &__link,
  &:link,
  &:visited {
    @include flex;
    font-size: 2rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    transition: all 0.3s;
    cursor: pointer;
    margin: 1rem 0 1rem 1rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__icon {
    font-size: 1.8rem;
    color: $text-light;
  }

  &__link:hover {
    background: $base-text-color;
  }

  &__link:hover &__icon {
    color: $primary-white;
  }
}
