.heading-primary {
  font-size: 3rem;
  font-weight: 500;
  padding: 2rem 0;
  color: $base-text-color;
}

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  color: $text-light-grey;
  margin-bottom: 4rem;
}
