.chat {
  width: 100%;
  margin: 1rem 0;

  &__box {
    height: 20rem;
    width: 100%;
    border: 1px solid $base-border;
    border-radius: 3px;
    @include flex(column, space-between, flex-start);
    padding: 1rem;
  }

  &__form {
    @include flex(row, space-between, stretch);
    width: 100%;
  }

  &__input {
    flex: 1;
    margin-right: 0.7rem;
    padding: 0 1rem;
    border-radius: 3px;
    border: 1px solid $base-border;
  }
}
