.chat {
  width: 100%;
  margin: 1rem 0;

  &__box {
    height: 30rem;
    width: 100%;
    border: 1px solid $base-border;
    border-radius: 3px;
    @include flex(column, space-between, flex-start);
    padding: 1rem;
    overflow-y: auto;
  }

  &__form-container {
    margin-top: 1rem;
    width: 100%;
  }

  &__form {
    @include flex(row, space-between, stretch);
    width: 100%;
  }

  &__input {
    flex: 1;
    margin-right: 0.7rem;
    padding: 0 1rem;
    border-radius: 3px;
    border: 1px solid $base-border;
    border-radius: 100px;
    outline: none;
  }

  &__input:focus-visible {
    border: 2px solid darken($base-border, 10%);
  }

  &__text {
    word-wrap: break-word;
    max-width: 100%;
  }

  &__message {
    background: $primary-blue;
    color: #fff;
    padding: 0.3rem 1rem;
    border-radius: 6px;
    word-wrap: break-word;
    margin: 0.6rem 0;
    display: block;
  }
}
