// Colors
$primary-dark-1: #101b32;
$primary-dark-2: #1a2c4a;
$primary-dark-3: #0c2f50;
$primary-dark-4: #003060;
$primary-dark-5: #023e79;
$primary-dark-6: #050912;
$primary-dark-7: #0b1223;
$secondary-dark-1: #4d1037;
$secondary-dark-2: #631f4b;
$secondary-dark-3: #85386a;
$secondary-dark-4: #a24f84;
$secondary-dark-5: #bf599a;
$tertiary-dark-1: #004c4c;
$tertiary-dark-2: #006666;
$tertiary-dark-3: #008080;
$tertiary-dark-4: #66b2b2;
$tertiary-dark-5: #b2d8d8;

$primary-text-1: #eee;
$primary-text-2: #959595;
$primary-text-3: #565656;
$primary-text-4: #e3e3e3;
$primary-text-5: #313131;

$card-text-1: #b3b6d0;
$card-text-2: #34aeae;

$text-primary: #565656;
$text-secondary: #959595;

// Spacing
$desktop-breakpoint: 45rem;

// New variables
$primary-blue: #1976d1;
$primary-white: #ffffff;
