// Colors
$base-text-color: #434343;
$text-light: #959595;
$text-light-grey: #eee;
$base-border: #e3e3e3;
$button-border: #b0b0b0;
$button-text-bg-hover: #565656;
$footer-brand-hover: #008080;
$footer-brand: #66b2b2;
$primary-blue: #1976d1;
$primary-white: #fff;
